$clr-green-100: hsl(193, 38%, 86%);
$clr-green-200: hsl(150, 100%, 66%);

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(217, 19%, 38%);
$clr-neutral-300: hsl(217, 19%, 24%);
$clr-neutral-400: hsl(218, 23%, 16%);
