@use "../abstract/" as *;

.advice-generator {
  position: relative;
  width: min(90%, toRem(720));
  background-color: $clr-neutral-300;
  background-image: url("../images/pattern-divider-desktop.svg");
  background-repeat: no-repeat;
  background-size: 85% auto;
  background-position: 50% 80%;
  border-radius: 1.125rem;
  text-align: center;
  padding: clamp(51px, 7vw, 62px) clamp(32px, 7vw, 62px)
    clamp(95px, 15vw, 138px);

  &__title {
    margin-block: 0;
    color: $clr-green-200;
    font-size: $fs-400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }

  &__quote {
    margin-block: 2rem;
    color: $clr-green-100;
    font-size: $fs-500;
    font-weight: 800;
    line-height: 1.5;
  }
}

#get-advice {
  position: absolute;
  inset-inline-start: calc(50% - toRem(85) / 2);
  inset-block-end: calc(0% - toRem(85) / 2);
  width: toRem(85);
  aspect-ratio: 1/1;
  background-color: $clr-green-200;
  background-image: url("../images/icon-dice.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 38%;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;

  &:hover::after {
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 2rem $clr-green-200;
    transition: opacity 0.3s ease-in-out;
  }
}
